pyzeebe==4.4.0
httpx==0.27.2
pydantic==2.7.4
pydantic-settings==2.3.4
structlog==24.4.0
opentelemetry-sdk==1.44.0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
opentelemetry-instrumentation-httpx==0.65b0
opentelemetry-instrumentation-grpc==0.65b0
