imap_reader_run_as_daemon=True
imap_reader_host=imap.gmail.com
imap_reader_username=hello@innovox.com.br
imap_reader_password=mkbf lpnf eove gczk
imap_reader_port=993
imap_reader_ssl=True
imap_reader_folder=INBOX
imap_reader_limit=10
imap_reader_mark_as_read=False
imap_reader_webhook_url=http://localhost:8000/echo_data
imap_reader_daemon_interval=60
